.notice-success {
	background: green;
	color: white;
}

.notice-success p {
	font-size: 36px;
}

.notice-dismiss {
	color: white;
	font-size: 36px;
}

.notice-dismiss::before {
	color: white;
	font-size: 36px;
	display: inline-block;
	margin: 25px;
}
